
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /*space variables */
    --spacing-xs: 0.5rem;  /* Extra pequeno */
    --spacing-sm: 1rem;    /* Pequeno */
    --spacing-md: 1.5rem;  /* Médio */
    --spacing-lg: 2rem;    /* Grande */
    --spacing-xl: 3rem;    /* Extra grande */
    --spacing-e: 5rem;     /* Especial */
    /* Color variables */
    --primary-color: #EA4A01;   /* Cor Primária */
    --secondary-color: #FA8A01; /* Cor Secundária */
    --tertiary-color: #FBFAF9;  /* Cor Terciária */
    --quartenary-color:#0000;  /* Cor quarternaria */
    /*Font size*/
    --title: 2rem;
    --subtitle:1.5rem;
    --general:1rem 
}

/* sidebar*/

.defaultSidebar{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: var(--spacing-md);
   height: 100vh;
    background-color:var(--secondary-color);
    box-sizing: border-box;
}
.sidebar__header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 20px;
    font-size: var(--spacing-md);
}
.sidebar__header img{
    margin: 0 auto;
}
.defaultSidebar nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex: 2;
    margin: 0 auto;
}
.nav__item{
    font-size: var(--spacing-lg);
    font-family: azeret mono;
    font-weight: bold;
    display: flex;
    gap: var(--spacing-lg);
}
.setItem, .setItem a{
    color: white;
}
/* social media section*/

.social-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: var(--spacing-lg);
}
.social-media h2 {
    color: var(--secondary-color);
    text-align: center;
}
.media__icons{
    display: flex;
    gap: var(--spacing-md);

}
.media__icons a {
    color:  black;
    font-size: var(--spacing-lg);
}

/* Reset */

body{
    margin:0;
    border:0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, Arial, Helvetica, sans-serif;
}

/* Botões  */


.default-btn{
background-color: var(--secondary-color);
padding: var(--spacing-sm);
border-radius: 20px;
border: 0;
color: black;
text-decoration: none;
font-family: azeret mono;
/* font-weight: bold; */
}
.default-btn a,.alternative-btn a, .wpp-btn a {
    text-decoration: none;
    color: black;
    font-size: var(--spacing-sm)
}
.wpp-btn{
    background-color: #00bb2d;
    padding: var(--spacing-sm);
    border-radius: 20px;
    border: 0;
    color: white;
    text-decoration: none;
    font-family: azeret mono;
    display: block;
    margin: auto;
    width: max-content;
}


.alternative-btn{
    background-color: #ffff;
    padding: var(--spacing-sm);
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    text-decoration: none;
    /* font-weight: bold; */
    font-family: 'azeret mono';
}
.alternative-btn a{
    color: var(--secondary-color);
    text-decoration: none;
    font-family: 'azeret mono';
    /* font-weight: bold; */

    
}

/* Layout cabeçalho mobile */

header{
    display:flex;
    background-color: var(--secondary-color);
    padding: var(--spacing-md);  
}
.header__container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.header__container .logo {
    margin:0 auto;
}
.header__container i {
   font-size: 32px;
}

/* Layout roda-pé mobile */

footer{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-md);
    gap: var(--spacing-md);
    border-radius: 60px 60px 0 0;
}
footer nav{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    text-align: center;
}
nav a {
    font-family: 'azeret mono';
    text-decoration: none;
    color: black;
}
.setIcon{
    color: #ffff;
    font-weight: bolder;

}