
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}
.heroBanner, .services, .about, .CTA, .partners, .social-media{ 
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-e) var(--spacing-md);
    align-items: center;
    text-align: justify;

}
.heroBanner{
    padding: var(--spacing-lg);
    background-color: var(--secondary-color);
    border-radius: 0 0 60px 0px;
}
.heroBanner h1,  .heroBanner span {
    font-family: azeret mono;
    font-weight: bold;
    text-align: justify;
    font-size: var(--spacing-lg);
}
.heroBanner span{
    color: white;
}
.heroBanner img{
    max-width: 18rem;
}
.heroBanner p{
text-indent: var(--spacing-sm);
font-weight: 500;
}
.services{
    gap: var(--spacing-e);
}
.services__item{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    text-align: justify;
    text-indent: 1rem;
    align-items: center;
}
.imgContainer img{
    max-width: 7rem;
}
.services__item h2{
    font-size: var(--spacing-md);
    font-weight: bold;
    color: var(--secondary-color);
    text-align: center;
}
.about{
    align-items: start;
    gap: var(--spacing-lg);
    background-color: var(--secondary-color);
    border-radius: 60px  0 0px 0px;
    text-indent: 1rem;
}
.about h2{
    font-weight: bold;
    font-size: var(--spacing-lg);
}
.about strong{
    font-weight: bold;
}
.about span{
    font-style: italic;
}
.about a{
    color: white;
    font-family: azeret mono;
    font-weight: 600;
}

.process{
    background-color: var(--secondary-color);
    border-top: 1px solid white;

}



.CTA{
    gap: var(--spacing-lg);
}
.CTA h1{
    font-family: azeret mono;
    font-weight: bold;
    text-align: start ;
    font-size: var(--spacing-lg);
}
.CTA span{
    font-weight: bold;
    color: var(--secondary-color);
}
.subtitleContainer{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md);
    align-items: center;
    gap: var(--spacing-md);
    border-radius: 2rem;
}
.partners{
    padding: 0 0 var(--spacing-md);
    gap: var(--spacing-lg);
}
.partners h1{
    color: var(--secondary-color);
    font-weight: bold;
}

.brandContainer{
   display: flex;
   flex-direction: column;
   gap: var(--spacing-md);
   width: 100%;
}
.container-row{
    display: flex;
    justify-content: space-evenly;
}

.container-row i{
    font-size: var(--spacing-md);
}
.social-media{
    margin: 0 ;
}

.social-media h2{
    font-weight: bold;
    font-size: var(--spacing-md);
}

.processContainer{
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}
.processContainer h1{
    font-family: azeret mono;
    font-size: var(--spacing-lg);
    color: var(--tertiary-color);
    font-weight: bold;
    text-align: center;
}
.processContainer p{
    text-align: justify;
    font-size: 1.2rem;
}
.processContainer b {
    font-weight: bold;
}
.stepsContainer{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}
.stepRow{
    display: flex;
    background-color: rgb(51, 21, 218);
    padding: var(--spacing-sm);
 

}
