
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}
b{
    font-weight: bold;
}
.heroBanner, .services, .about, .CTA, .partners, .social-media{ 
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-e) var(--spacing-md);
    align-items: center;
    text-align: justify;

}
.heroBanner{
    padding: var(--spacing-lg);
    background-color: var(--secondary-color);
    border-radius: 0 0 60px 0px;
}
.heroBanner h1,  .heroBanner span {
    font-family: azeret mono;
    font-weight: bold;
    text-align: justify;
    font-size: var(--spacing-lg);
}
.heroBanner span{
    color: white;
}
.heroBanner img{
    width: 20rem;
}
.heroBanner p{
text-indent: var(--spacing-sm);
font-weight: 500;
}
.services{
    gap: var(--spacing-e);
}
.services__item{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    text-align: justify;
    text-indent: 1rem;
    align-items: center;
    width:80vw ;
}
.services__item p{
    text-align: justify;
}
.imgContainer img{
    max-width: 7rem;
}
.services__item h2{
    font-size: var(--spacing-md);
    font-weight: bold;
    color: var(--secondary-color);
    text-align: justify;
}
#serviceDescription{
max-width: 100%;
text-decoration: red;

}
.about{
    align-items: start;
    gap: var(--spacing-lg);
    background-color: var(--secondary-color);
    border-radius: 60px  0 0px 0px;
    text-indent: 1rem;
}
.about h2{
    font-weight: bold;
    font-size: var(--spacing-lg);
}
.about strong{
    font-weight: bold;
}
.about span{
    font-style: italic;
}
.about a{
    color: white;
    font-family: azeret mono;
    font-weight: 600;
}

.process{
    background-color: var(--secondary-color);
    border-top: 1px solid white;
    padding-bottom: var(--spacing-md);

}



.CTA{
    padding: var(--spacing-md) var(--spacing-md);
    gap: var(--spacing-lg);
}
.CTA h1{
    font-family: azeret mono;
    font-weight: bold;
    text-align: start ;
    font-size: 2.5rem;
}
.CTA p{
    font-size: 1.2rem;
}
.CTA span{
    font-weight: bold;
    color: var(--secondary-color);
}
.subtitleContainer{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md);
    align-items: center;
    gap: var(--spacing-md);
    border-radius: 2rem;
}
.subtitleContainer a{
    font-size: 1rem;
}

.partners{
    padding: 0 var(--spacing-md);
    gap: var(--spacing-lg);
}
.partners h1{
    color: var(--secondary-color);
    font-weight: bold;
    text-align: center;
}


.brandContainer{
   display: flex;
   flex-direction: column;
   gap: var(--spacing-md);
   width: 100%;
}
.container-row{
    display: flex;
    justify-content: space-evenly;
}

.container-row i{
    font-size: var(--spacing-md);
}
.social-media{
    margin: 0 ;
}

.social-media h2{
    font-weight: bold;
    font-size: var(--spacing-md);
}

/* animação das setas em process */


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.animate-arrow {
    animation: pulse 3s infinite ease-in-out;
    cursor: pointer; /* Indica que é clicável */
    color: #FA8A01;
    transition: transform 0.3s ease;
}


.processContainer{
    padding: var(--spacing-md);
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}
.processContainer h1{
    font-family: azeret mono;
    font-size: var(--spacing-lg);
    color: var(--tertiary-color);
    font-weight: bold;
    text-align: center;
}
.processContainer p{
    text-align: justify;
    font-size: 1.2rem;
}
.processContainer b {
    font-weight: bold;
}
.stepsContainer{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}
.stepRow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-md);
    width: 60%;
    background-color: var(--tertiary-color);
    border-radius: 0 20px 20px 0;
    cursor:pointer
}
.rowContent{
   display: flex;
    justify-content: center; 
    align-items: center;
}
.stepRow:hover{
    transform: translatey(-10px);
}
.stepRow h3{
    font-weight: bold;
}
/* conteudo impar */
#contentStep1,#contentStep3,#contentStep5{
    background-color: black;
    width: 100%;
    display: none;
    text-align: justify;
    margin-left: 2rem;
}
/* conteudo impar */
#stepRow1,#stepRow3, #stepRow5 {
    background-color: black;
    color: var(--tertiary-color);
    align-self: flex-end;
    border-radius: 20px 0px 0px 20px;
}
.fa-chevron-left, .fa-chevron-right{
    padding: 1rem;
}
/* conteudo par  */
#contentStep2,#contentStep4{
    width: 100%;
    display: none;
    margin-left: 2rem;
    text-align: justify
}



@media (min-width: 768px) {
    .heroBanner img{
        width: 30rem;
    }

    .process{
        padding: 4rem  0   ;
    }
    .CTA{
        padding: 4rem;
        gap: 5rem;
    } 
    .CTA h1 {
        font-size: 3rem;
    }
 
 .heroBanner, .services, .about, .CTA, .partners, header{
    padding: var(--spacing-e) 4rem;
 }

 .processContainer{
    gap: 3rem;
    padding: 3rem;
 }

 .processContainer h1{
    font-size: 3rem;
 }
 .process{
    padding-top: 0;
 }

  }

  .subtitleContainer{
    font-size: var(--spacing-md);
    padding: 3rem;
  }
  .partners{
    gap: 5rem;
    font-size: var(--spacing-md);
  }
  .brandContainer i{
    font-size: 3rem;
  }

  .social-media h2 {
    font-size: 2rem;
  }
  .social-media i{
    font-size: 3rem;
  }


  footer{
    padding-bottom: 5rem;
  }

  footer nav{
    display: none;

  }
